.App {
  text-align: center;
  background-color: rgb(232, 227, 222);
  height: 100vh;
  padding: 80px 0;
}

.first-child {
  border: 2px solid red;
  width: 80%;
  margin: 20px auto;
  padding: 80px 0;
}

.second-child {
  border: 2px solid green;
  width: 60%;
  margin: 20px auto;
  padding: 80px 0;
}
